<article><div itemprop="articleBody" id="readability-page-1">
                            <p>Most people go to hotels for the pleasure of sleeping in a giant bed with clean white sheets and waking up to fresh towels in the morning.</p>

                            <p>But those towels and sheets might not be as clean as they look, according to the hotel bosses that responded to an online thread about the things hotel owners don’t want you to know.</p>

                            <p>Zeev Sharon and Michael Forrest Jones both run hotel start-ups in the US. Forrest Jones runs the start-up Beechmont Hotels Corporation, a hotel operating company that consults with hotel owners on how they can improve their business. Sharon is the CEO of Hotelied, a start-up that allows people to sign up for discounts at luxury hotels.</p>

                            <p>But even luxury hotels aren’t always cleaned as often as they should be.</p>

                            <p>Here are some of the secrets that the receptionist will never tell you when you check in, according to answers posted on <a href="https://www.quora.com/What-are-the-things-we-dont-know-about-hotel-rooms" target="_blank">Quora</a>.</p>

                            

                            <div>
                                <div>
                                    
                                    <p><img src="https://static.independent.co.uk/s3fs-public/styles/story_medium/public/thumbnails/image/2014/03/18/10/bandb2.jpg" alt="bandb2.jpg" title="bandb2.jpg" width="564" height="423"/></p>
                                    
                                </div>
                                <p>Even posh hotels might not wash a blanket in between stays
                                    
                                </p>
                            </div>

                            <p>1. Take any blankets or duvets off the bed</p>

                            <p>Forrest Jones said that anything that comes into contact with any of the previous guest’s skin should be taken out and washed every time the room is made, but that even the fanciest hotels don’t always do so. "Hotels are getting away from comforters. Blankets are here to stay, however. But some hotels are still hesitant about washing them every day if they think they can get out of it," he said.</p>

                            <div>
                                
                                <p>Video shows bed bug infestation at New York hotel</p>
                            </div>

                            

                            <div>
                                <div>
                                    
                                    <p><img src="https://static.independent.co.uk/s3fs-public/styles/story_medium/public/thumbnails/image/2015/05/26/11/hotel-door-getty.jpg" alt="hotel-door-getty.jpg" title="hotel-door-getty.jpg" width="564" height="423"/></p>
                                    
                                </div>
                                <p>Forrest Jones advised stuffing the peep hole with a strip of rolled up notepaper when not in use.
                                    
                                </p>
                            </div>

                            <p>2. Check the peep hole has not been tampered with</p>

                            <p>This is not common, but can happen, Forrest Jones said. He advised stuffing the peep hole with a strip of rolled up notepaper when not in use. When someone knocks on the door, the paper can be removed to check who is there. If no one is visible, he recommends calling the front desk immediately. “I look forward to the day when I can tell you to choose only hotels where every employee who has access to guestroom keys is subjected to a complete public records background check, prior to hire, and every year or two thereafter. But for now, I can't,” he said.</p>

                            

                            <div>
                                <div>
                                    
                                    <p><img src="https://static.independent.co.uk/s3fs-public/styles/story_medium/public/thumbnails/image/2013/07/31/15/luggage-3.jpg" alt="luggage-3.jpg" title="luggage-3.jpg" width="564" height="423"/></p>
                                    
                                </div>
                                <p>Put luggage on the floor
                                    
                                </p>
                            </div>

                            <p>3. Don’t use a wooden luggage rack</p>

                            <p>Bedbugs love wood. Even though a wooden luggage rack might look nicer and more expensive than a metal one, it’s a breeding ground for bugs. Forrest Jones says guests should put the items they plan to take from  bags on other pieces of furniture and leave the bag on the floor.</p>

                            

                            <div>
                                <div>
                                    
                                    <p><img src="https://static.independent.co.uk/s3fs-public/styles/story_medium/public/thumbnails/image/2015/04/13/11/Lifestyle-hotels.jpg" alt="Lifestyle-hotels.jpg" title="Lifestyle-hotels.jpg" width="564" height="423"/></p>
                                    
                                </div>
                                <p>The old rule of thumb is that for every 00 invested in a room, the hotel should charge in average daily rate
                                    
                                </p>
                            </div>

                            <p>4. Hotel rooms are priced according to how expensive they were to build</p>

                            <p>Zeev Sharon said that the old rule of thumb is that for every $1000 invested in a room, the hotel should charge $1 in average daily rate. So a room that cost $300,000 to build, should sell on average for $300/night.</p>

                            

                            <h3>5. Beware the wall-mounted hairdryer</h3>

                            <p>It contains the most germs of anything in the room. Other studies have said the TV remote and bedside lamp switches are the most unhygienic. “Perhaps because it's something that's easy for the housekeepers to forget to check or to squirt down with disinfectant,” Forrest Jones said.</p>

                            

                            

                            <h3>6. Mini bars almost always lose money</h3>

                            <p>Despite the snacks in the minibar seeming like the most overpriced food you have ever seen, hotel owners are still struggling to make a profit from those snacks. "Minibars almost always lose money, even when they charge $10 for a Diet Coke,” Sharon said.</p>

                            

                            <div>
                                <div>
                                    
                                    <p><img src="https://static.independent.co.uk/s3fs-public/styles/story_medium/public/thumbnails/image/2014/03/13/16/agenda7.jpg" alt="agenda7.jpg" title="agenda7.jpg" width="564" height="423"/></p>
                                    
                                </div>
                                <p>Towels should always be cleaned between stays
                                    
                                </p>
                            </div>

                            <p>7. Always made sure the hand towels are clean when you arrive</p>

                            <p>Forrest Jones made a discovery when he was helping out with the housekeepers. “You know where you almost always find a hand towel in any recently-vacated hotel room that was occupied by a guy?  On the floor, next to the bed, about halfway down, maybe a little toward the foot of the bed.  Same spot in the floor, next to almost every bed occupied by a man, in every room. I'll leave the rest to your imagination,” he said.</p>
                            <meta itemprop="datePublished" content="2016-05-08T10:11:51+01:00"/>
                            <ul>
                                <li>
                                    More about:
                                </li>
                                <li><a itemprop="keywords" href="http://fakehost/topic/Hotels" target="_blank">Hotels</a></li>
                                <li><a itemprop="keywords" href="http://fakehost/topic/Hygiene" target="_blank">Hygiene</a></li>
                            </ul>
                            
                            <p><a href="http://fakehost/syndication/reuse-permision-form?url=http://www.independent.co.uk/news/business/news/seven-secrets-that-hotel-owners-dont-want-you-to-know-10506160.html" target="_blank"><img src="http://fakehost/sites/all/themes/ines_themes/independent_theme/img/reuse.png" width="25"/>Reuse content</a>
                        </p></div></article>