<article><article id="meldung" data-article-type="meldung">&#13;
  &#13;
&#13;
&#13;
  &#13;
&#13;
  <div>&#13;
        &#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
      &#13;
&#13;
      <p>Man kann sagen, dass Joshua Bergen ein sehr produktiver Mensch ist. Und sein Geheimnis dabei ist eine App namens <a href="https://www.heise.de/ratgeber/Wie-Sie-Webseiten-mit-Notion-veroeffentlichen-7164176.html" target="_blank">Notion</a>. Bergen, ein in Vancouver lebender Produktmanager, nutzt sie unter anderem, um Auslandsreisen bis ins kleinste Detail zu planen – mit Notizen und Zeitplänen. Er erstellt mit der Software Listen der Filme und Fernsehsendungen, die er gesehen hat, und hält fest, wie er sie findet. Notion sei auch praktisch, um seine 3D-Drucker-Projekte im Auge zu behalten, Snowboardtouren zu planen oder eine Liste der lustigsten Dinge, die sein Nachwuchs gesagt hat, auf dem aktuellen Stand zu halten.</p>&#13;
&#13;
  &#13;
&#13;
&#13;
<p>Interessanterweise ist Notion für das alles eigentlich gar nicht gedacht. Stattdessen ist das Werkzeug zum Wissensmanagement für die Arbeit in Unternehmen vorgesehen. Doch immer mehr User verwenden Notion, um ihr Privatleben zu organisieren. Sie nutzen die Software auf unterschiedlichste Weise: von der Dokumentation ihrer Meditationsgewohnheiten bis hin zur Protokollierung ihres Trinkverhaltens oder dem Austausch von Einkaufslisten.  </p>&#13;
<p>"Ich habe festgestellt, dass meine Produktivität bei eigenen Projekten explodiert ist, seit ich es benutze", sagt Bergen. Er habe in den letzten zwei Jahren mehr Projekte erledigt als in den 10 Jahren davor. "Vielleicht ist das obsessiv, vielleicht ist das zu viel, aber es ist alles für mich und ich liebe es." Warum also hat eine Software, die laut Hersteller für ein "besseres, schnelleres Arbeiten" entwickelt wurde, auch im Privatleben so viele Fans? Schließlich gibt es zahlreiche Apps dieser Art.</p>&#13;
<h3 id="nav_zahlreiche__0">Zahlreiche Anpassungen in Notion möglich</h3>&#13;
<p>Einer der Gründe, warum Notion eine so treue Fangemeinde hat, ist seine Flexibilität. Im Kern ist die App so konzipiert, dass es die verschiedenen Systeme, die ein Unternehmen für Funktionen wie Personalwesen, Vertrieb und Produktplanung verwendet, zu einem "Hub" vereint. Es verwendet einfache Vorlagen (Templates), mit denen Benutzer Funktionen hinzufügen oder streichen können. Mitarbeiter unterschiedlicher Standorte können problemlos an Notizen, Datenbanken, Kalendern und Projekt-Boards zusammenarbeiten.</p>&#13;
&#13;
  &#13;
&#13;
&#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
    &#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
&#13;
&#13;
&#13;
<p>Dieses hohe Maß an Anpassungsfähigkeit unterscheidet Notion von anderen Produktivitätsanwendungen. Es ist auch der Grund, warum Notion bei Menschen, die ihre Freizeit damit planen wollen, beliebt ist. Die App wurde 2018 insbesondere über eine Nische bei YouTube bekannt, in der sich immer mehr Menschen in Videos mit dem Thema Produktivität beschäftigen. Dort gibt es Tipps zum Zeitmanagement und Anleitungen zur Organisation des gesamten Lebens per Software. Regelmäßig werden Millionen Abrufe generiert.</p>&#13;
<p>Die Fangemeinde hat sich in den letzten fünf Jahren vervielfacht. Mehr als 275.000 Menschen sind mittlerweile bei einem <a href="https://www.reddit.com/r/Notion/" rel="external noopener" target="_blank">speziellen Subreddit</a> dabei, Zehntausende von Nutzern tauschen kostenlose Notion-Templates in privaten Facebook-Gruppen aus. Und auf TikTok erreichen Videos, die zeigen, wie man Notion "schön macht", Millionen Abrufe.</p>&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
    &#13;
&#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
  &#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
<h3 id="nav_notion_planung__1">Notion-Planung: vom Umzug bis zu den Mahlzeiten</h3>&#13;
<p>"Sie müssen Ihre Gewohnheiten nicht ändern, weil die Software starr ist. Die Software ändert die Art und Weise, wie Sie denken", sagt Akshay Kothari, Mitbegründer und Chief Operating Officer (COO) von der Entwicklerfirma hinter Notion. "Ich glaube, das ist ein wichtiger Grund für ihre Beliebtheit in der Community: Die Leute haben das Gefühl, dass die Dinge, die sie damit machen, ihre eigenen sind."</p>&#13;
<p>Die Möglichkeit der individuellen Anpassung ist durchaus beeindruckend. So kann Notion-Fan Bergen mit der App nicht nur die Seriennummern aller jemals von ihm gekaufter Produkte für den Fall speichern, dass sie gestohlen werden, sondern das detaillierte Inventar jeder einzelnen nummerierten Kiste erfassen, die er während eines Umzugs gepackt hat.</p>&#13;
<p>Auch Wesley Anna Tiner, Produktdesignerin und Content Creator in New York, hält Notion für unverzichtbar. Sie plant damit ihren bevorstehenden Umzug genauso wie alle Mahlzeiten in der Woche. "Ich habe auch viele Notion-Pages, die nur zum Spaß dienen", erklärt sie. Sie habe zum Beispiel zu Weihnachten eine Parfümprobe bekommen und daraufhin eine Datenbank mit den verschiedenen weiteren Kosmetika angelegt, die sie künftig jeden Tag ausprobieren will – alle natürlich mit persönlicher Bewertung. Sie nutzt Notion mittlerweile auch als Stimmungstracker, Wunschliste und Self-Care-Werkzeug.</p>&#13;
<h3 id="nav_f&#xFC;nf_jahre__2">Fünf Jahre Notion statt Notizbuch</h3>&#13;
<p>Tommy Meyer, Webentwickler aus Phoenix, Arizona, begann schon 2018 mit Notion, nachdem er festgestellt hatte, dass er ständig drei verschiedene Notizbücher mit sich herumtrug, um alles geregelt zu bekommen. Er habe seit Jahren keine Einkaufsliste mehr auf Papier geschrieben, sagt er. Mittlerweile plottet er mit Notion auch Fantasy-Romane, die er schreiben möchte.</p>&#13;
<p>Notion eignet sich gut für Notizen und zur Führung eines Tagesbuchs. Adam Warren, ein britischer Schauspieler und Synchronsprecher, hat es für sich als YouTube-Verwaltungswerkzeug entdeckt. "Ich verdiene jetzt mit meinem Kanal und Abos bei Patreon etwa so viel wie mit einem guten Vollzeitjob. Die gesamte Verwaltung dieses Geschäfts läuft über Notion", erklärt er. Alle seine Videoprojekte lägen in der Datenbank. "Ich verwende die Kanban-Ansicht, um ihren Status zu verfolgen. Und ich schreibe auch die Skripte für meine Videos direkt in diese Seiten hinein."</p>&#13;
<p>Für Menschen, die das Gefühl mögen, gut organisiert zu sein, sind solche Plattformen offensichtlich sehr sinnhaft. Apps wie Notion können ihnen helfen, ihr Leben zu strukturieren und einfacher zu machen. Es fühle sich dann weniger überwältigend und chaotisch an, sagt Psychologin Elena Touroni, die Beratungen anbietet.</p>&#13;
<h3 id="nav_wenn_die__3">Wenn die To-Do-Pflege wichtiger als die Arbeit wird</h3>&#13;
<p>Wenn wir jedoch zu viel Zeit damit verbringen, unser Leben zu optimieren und zu organisieren, kann das kontraproduktiv sein. "Wenn wir dem Erstellen von To-Do-Listen mehr Bedeutung beimessen als der Erledigung der eigentlichen Aufgaben", sagt Gabriele Oettingen, Psychologieprofessorin an der New York University. Dafür gibt es bereits einen Fachbegriff: "Planning Fallacy", Planungsirrtum.</p>&#13;
<p>Wenn man Notion benutzt, um zu tracken, ob man täglich genug Wasser trinkt oder wie vorgenommen joggen geht, bedeutet das nicht unbedingt, dass man diese Dinge auch tatsächlich tut. "In gewisser Weise kann Notion mir helfen, eine Struktur zu schaffen, aber es kann mich nicht dazu zwingen, ihr auch zu folgen", sagt sie.</p>&#13;
<p>Und: Für Menschen wie Bergen, die dieselbe App verwenden, um sowohl ihr Privat- als auch ihr Arbeitsleben zu planen, könne das auch Nachteile haben, fügt Oettingens Kollegin Touroni hinzu.</p>&#13;
<p>"Der offensichtliche Vorteil ist, dass sich Arbeits- und das Privatleben häufig überschneiden und die Verwendung derselben App dies dann für eine effizientere Zeitplanung berücksichtigt", so die Psychologin. "Der Nachteil ist, dass es schwieriger wird, Grenzen zwischen Arbeit und Privatleben zu ziehen, da man sich bei der Nutzung der App in beiden Lebensbereichen zurechtfinden muss."</p>&#13;
<h3 id="nav_notion_es_ist__4">Notion – es ist eine Art Sucht</h3>&#13;
<p>Trotz der Fülle an konkurrierenden Programmen, die ihnen zur Verfügung stehen, sagen die treuesten Fans von Notion, dass sie in absehbarer Zeit wohl kaum auf andere, womöglich bessere Plattformen ausweichen werden – es ist eine Art Sucht. Nutzerin Tiner aus New York meint, dass sie jetzt "95 Prozent des Lebens" über Notion abwickelt.</p>&#13;
<p>Und die Zukunft scheint schon da zu sein: Die Macher der App haben vor Kurzem einen eigenen KI-Bot zur Automatisierung lästiger Aufgaben und zur Zusammenfassung umfangreicher Dokumente freigeschaltet. Man werde die Reaktion der Notion-Community in den sozialen Medien genau beobachten, hieß es. "Für ein Unternehmen, das mit Business-to-Business-Software sein Geld verdient, ist es einzigartig, diese Art von Nutzerliebe zu erfahren", sagt COO Kothari. "Das ist für uns ganz sicher keine Selbstverständlichkeit."</p>&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
  &#13;
&#13;
<figure>&#13;
&#13;
  <div>&#13;
      <a href="https://www.instagram.com/technologyreview_de/" rel="external" target="_blank" title="MIT Technology Review auf Instagram">&#13;
      &#13;
&#13;
&#13;
&#13;
<img alt="" decoding="async" height="190" loading="lazy" src="https://heise.cloudimg.io/width/696/q50.png-lossy-50.webp-lossy-50.foil1/_www-heise-de_/imgs/18/4/1/5/0/0/2/4/tr-artikelbanner_insta_1830x500_11-2022-b1b5cf659568ea2b.png" srcset="https://heise.cloudimg.io/width/336/q30.png-lossy-30.webp-lossy-30.foil1/_www-heise-de_/imgs/18/4/1/5/0/0/2/4/tr-artikelbanner_insta_1830x500_11-2022-b1b5cf659568ea2b.png 336w, https://heise.cloudimg.io/width/1008/q30.png-lossy-30.webp-lossy-30.foil1/_www-heise-de_/imgs/18/4/1/5/0/0/2/4/tr-artikelbanner_insta_1830x500_11-2022-b1b5cf659568ea2b.png 1008w, https://heise.cloudimg.io/width/1392/q30.png-lossy-30.webp-lossy-30.foil1/_www-heise-de_/imgs/18/4/1/5/0/0/2/4/tr-artikelbanner_insta_1830x500_11-2022-b1b5cf659568ea2b.png 2x&#13;&#10;  " width="696" data-old-src="/imgs/18/4/1/5/0/0/2/4/tr-artikelbanner_insta_1830x500_11-2022-b1b5cf659568ea2b.png"/>&#13;
&#13;
&#13;
&#13;
      </a>&#13;
    &#13;
&#13;
  </div>&#13;
&#13;
</figure>&#13;
&#13;
&#13;
&#13;
&#13;
&#13;
      &#13;
&#13;
      &#13;
&#13;
      &#13;
&#13;
      &#13;
&#13;
      &#13;
&#13;
    </div>&#13;
</article></article>