<article><div id="readability-page-1">
                    <article id="post-997">
                        
                        <div>
                            <h3>
                                Highlights
                            </h3>
                            <ul>
                                <li>
                                    <a href="https://blog.mozilla.org/blog/2020/12/15/our-year-in-review-how-weve-kept-firefox-working-for-you-in-2020/" target="_blank">Here’s our Firefox Year in Review!</a>
                                </li>
                                <li>
                                    <a href="https://blog.mozilla.org/performance/2020/12/15/2020-year-in-review/" target="_blank">Here’s our Performance Year in Review!</a>
                                </li>
                                <li>We’ve just landed <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1553982" target="_blank">Bug 1553982</a>, which aims to prevent starting an update while another Firefox instance is running (the cause of that about:restartrequired error page you may have seen).
                                    <ul>
                                        <li>
                                            <div id="attachment_994">
                                                <p><a href="https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2020/12/headlines85_0.png" target="_blank"><img aria-describedby="caption-attachment-994" loading="lazy" src="https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2020/12/headlines85_0.png" alt="The about:restartrequired error page, saying &quot;Sorry. We just need to do one small thing to keep going. Nightly has just been updated in the background. Click Restart Nightly to complete the update. We will restore all your pages, windows and tabs afterwards, so you can be on your way quickly.&quot;, followed by a button to restart Nightly." width="1600" height="805" srcset="https://blog.nightly.mozilla.org/files/2020/12/headlines85_0.png 1600w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_0-300x151.png 300w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_0-600x302.png 600w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_0-768x386.png 768w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_0-1536x773.png 1536w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_0-1000x503.png 1000w" sizes="(max-width: 1600px) 100vw, 1600px"/></a></p><p id="caption-attachment-994">
                                                    Users who run multiple user profiles concurrently will probably see this less!
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>Also just about to land is <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=353804" target="_blank">Bug 353804</a>, which provides some support for downloading new updates when we already have an update downloaded but haven’t installed it yet. That should prevent many cases of restarting to finish an update and then immediately being notified about another one.
                                </li>
                                <li>Thanks to evilpie, users can now <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1650645" target="_blank">import logins from Keepass(XC) into Firefox</a>
                                </li>
                                <li>From Firefox 85 it’s now possible to disable tab-to-search on a per-engine basis, by unchecking a search engine in <i>Search Preferences</i>. That will both hide the shortcut button and disable tab-to-search for the engine. (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1681512" target="_blank">Bug 1681512</a>)
                                </li>
                                <li>From Firefox 85 it’s also possible to disable tab-to-search globally by unchecking the <i>Search Engines</i> checkbox in the <i>Address Bar Preferences</i>, under <i>Privacy &amp; Security</i>.
                                </li>
                                <li>Firefox now supports printing non-contiguous page ranges (e.g. 1-3, 6, 7) – <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=499640" target="_blank">Bug 499640</a>
                                </li>
                                <li>DevTools and Marionette are now fully Fission compatible! Congratulations to those teams!
                                    <ul>
                                        <li>Reminder: Nightly users can help us test Fission by enabling it in about:preferences#experimental, and <a href="https://bugzilla.mozilla.org/enter_bug.cgi?assigned_to=nobody%40mozilla.org&amp;blocked=1561396&amp;bug_ignored=0&amp;bug_severity=--&amp;bug_status=NEW&amp;bug_type=defect&amp;cf_a11y_review_project_flag=---&amp;cf_fission_milestone=---&amp;cf_fx_iteration=---&amp;cf_fx_points=---&amp;cf_root_cause=---&amp;cf_status_firefox83=---&amp;cf_status_firefox84=---&amp;cf_status_firefox85=---&amp;cf_status_firefox86=---&amp;cf_status_firefox_esr78=---&amp;cf_status_thunderbird_esr78=---&amp;cf_tracking_firefox84=---&amp;cf_tracking_firefox85=---&amp;cf_tracking_firefox86=---&amp;cf_tracking_firefox_esr78=---&amp;cf_tracking_firefox_relnote=---&amp;cf_tracking_firefox_sumo=---&amp;cf_tracking_thunderbird_esr78=---&amp;cf_webcompat_priority=---&amp;component=DOM%3A%20Navigation&amp;contenttypemethod=list&amp;contenttypeselection=text%2Fplain&amp;defined_groups=1&amp;filed_via=standard_form&amp;flag_type-203=X&amp;flag_type-37=X&amp;flag_type-41=X&amp;flag_type-607=X&amp;flag_type-721=X&amp;flag_type-737=X&amp;flag_type-787=X&amp;flag_type-799=X&amp;flag_type-800=X&amp;flag_type-803=X&amp;flag_type-846=X&amp;flag_type-855=X&amp;flag_type-863=X&amp;flag_type-864=X&amp;flag_type-930=X&amp;flag_type-936=X&amp;flag_type-937=X&amp;flag_type-945=X&amp;form_name=enter_bug&amp;maketemplate=Remember%20values%20as%20bookmarkable%20template&amp;op_sys=Unspecified&amp;priority=--&amp;product=Core&amp;rep_platform=Unspecified&amp;target_milestone=---&amp;version=unspecified" target="_blank">filing bugs here</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <h3>
                                Friends of the Firefox team
                            </h3>
                            <h4>
                                Introductions/Shout-Outs
                            </h4>
                            <ul>
                                <li>[harry] Amy Churchwell joins the Search &amp; Navigation team today. She transferred internally from Marketing Engineering. Welcome Amy!
                                </li>
                            </ul>
                            <h4>
                                <a href="https://bugzilla.mozilla.org/buglist.cgi?title=Resolved%20bugs%20(excluding%20employees)&amp;quicksearch=1647931%2C1649618%2C1650645%2C1652412%2C1654217%2C1664768%2C1666831%2C1667061%2C1671579%2C1674806%2C1678173%2C1678372%2C1678616%2C1678865%2C1678866%2C1679252%2C1679412%2C1680931%2C1681213%2C1681554%2C1681642%2C1681948" target="_blank">Resolved bugs (excluding employees)</a>
                            </h4>
                            <h4>
                                Fixed more than one bug
                            </h4>
                            <ul>
                                <li>Masatoshi Kimura [:emk]
                                </li>
                                <li>Michelle Goossens [:masterwayz]
                                </li>
                                <li>Sonia
                                </li>
                                <li>Tim Nguyen :ntim
                                </li>
                            </ul>
                            <h4>
                                New contributors (🌟 = first patch)
                            </h4>
                            <ul>
                                <li>🌟 Ankush Dua <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1671579" target="_blank">fixed an issue with revoked devtools_page permissions for WebExtensions</a>
                                </li>
                                <li>🌟 gero <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1674806" target="_blank">removed the windowtype attribute</a> from dialogs where we didn’t need it anymore
                                </li>
                                <li>manekenpix <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1664768" target="_blank">converted some DevTools code</a> to use DOM Promises instead of the defer library
                                </li>
                            </ul>
                            <h3>
                                Project Updates
                            </h3>
                            <h4>
                                Add-ons / Web Extensions
                            </h4>
                            <h5>
                                Addon Manager &amp; about:addons
                            </h5>
                            <ul>
                                <li>Starting from Firefox 85, Mozilla-signed privileged addons can be installed from a third party website without triggering the “third party addon install doorhanger” (and without having to add new “install” site permission for those hosts, <a href="https://searchfox.org/mozilla-central/rev/23c25cd32a1e87095301273937b4ee162f41e860/browser/app/permissions#24-25" target="_blank">e.g. as we had to do for fpn.firefox.com</a>) – <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1681331" target="_blank">Bug 1681331</a>
                                </li>
                            </ul>
                            <ul>
                                <li>Fixed addon startup issue when an extension sideloaded in the profile is updated on disk (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1664144" target="_blank">Bug 1664144</a>)
                                </li>
                                <li>Some more small about:addons cleanup from ntim (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678173" target="_blank">Bug 1678173</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678865" target="_blank">Bug 1678865</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678866" target="_blank">Bug 1678866</a>). Thanks a lot, ntim!
                                </li>
                            </ul>
                            
                            <h5>
                                WebExtensions Framework
                            </h5>
                            <ul>
                                <li>
                                    <b>Ankush Dua</b> <i>contributed a fix for the devtools optional_permission</i> (the devtools optional_permission can be used by extension, like ABP, that provides a devtools panel as a secondary feature of the addon) – <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1671579" target="_blank">Bug 1671579</a>
                                </li>
                                <li>Fixed content scripts applied to webpages loaded as subframes of an extension browserAction/pageAction popup when Fission is enabled – <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1680877" target="_blank">Bug 1680877</a>
                                </li>
                                <li>Fixed addon startup issue when webRequest is moved from permissions to optional_permissions in an addon update (regression from <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1624235" target="_blank">Bug 1624235</a>) – <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1637059" target="_blank">Bug 1637059</a>
                                </li>
                            </ul>
                            <h4>
                                Developer Tools
                            </h4>
                            <ul>
                                <li>
                                    <b>DevTools Fission</b> <b>M2</b> – Making DevTools Fission compatible DONE.
                                    <ul>
                                        <li>
                                            <div id="attachment_995">
                                                <p><a href="https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2020/12/headlines85_1.png" target="_blank"><img aria-describedby="caption-attachment-995" loading="lazy" src="https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2020/12/headlines85_1.png" alt="A table showing the total number of remaining bugs for the MVP to make the DevTools Fission-compatible." width="1600" height="192" srcset="https://blog.nightly.mozilla.org/files/2020/12/headlines85_1.png 1600w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_1-300x36.png 300w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_1-600x72.png 600w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_1-768x92.png 768w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_1-1536x184.png 1536w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_1-1000x120.png 1000w" sizes="(max-width: 1600px) 100vw, 1600px"/></a></p><p id="caption-attachment-995">
                                                    Our DevTools are ready for Fission (out-of-process iframes)!
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <b>Marionette Fission</b> – Making Marionette Fission compatible DONE
                                    <ul>
                                        <li>
                                            <div id="attachment_996">
                                                <p><a href="https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2020/12/headlines85_2.png" target="_blank"><img aria-describedby="caption-attachment-996" loading="lazy" src="https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2020/12/headlines85_2.png" alt="A table showing the total number of remaining bugs for the MVP to make Marionette Fission-compatible." width="1600" height="189" srcset="https://blog.nightly.mozilla.org/files/2020/12/headlines85_2.png 1600w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_2-300x35.png 300w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_2-600x71.png 600w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_2-768x91.png 768w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_2-1536x181.png 1536w, https://blog.nightly.mozilla.org/files/2020/12/headlines85_2-1000x118.png 1000w" sizes="(max-width: 1600px) 100vw, 1600px"/></a></p><p id="caption-attachment-996">
                                                    Marionette, the framework that allows Firefox to be tested with automation, is now Fission compatible too!
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <h4>
                                Fission
                            </h4>
                            <ul>
                                <li>Neil has patches up to <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1682442" target="_blank">improve the behaviour of the tab unloader</a>, and <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1644911" target="_blank">show UI when subframes crash</a>
                                </li>
                            </ul>
                            <h4>
                                Installer &amp; Updater
                            </h4>
                            <ul>
                                <li>Background updater work is also proceeding, with <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1676296" target="_blank">Bug 1676296</a> landing last week to support managing scheduled tasks in Gecko, and more development still also happening on the background task framework.
                                </li>
                            </ul>
                            <h4>
                                New Tab Page and Pocket
                            </h4>
                            <ul>
                                <li>We’re running three experiments:
                                    <ul>
                                        <li>Newtab Pocket stories in AU and NZ
                                        </li>
                                        <li>New signup/login call-to-action in the Pocket doorhanger
                                        </li>
                                        <li>We’re testing some changes to newtab story personalization
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <h4>
                                <a href="https://wiki.mozilla.org/Toolkit:Password_Manager" target="_blank">Password Manager</a>
                            </h4>
                            <ul>
                                <li>Dimi fixed <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1677710" target="_blank">Bug 1677710</a> The password manager code triggers main thread sqlite disk I/O off of the gather-telemetry notification
                                </li>
                                <li>And <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678200" target="_blank">Bug 1678200</a> Remove or update probes expiring in Firefox 86: pwmgr.doorhanger_submitted#doorhanger_submitted
                                </li>
                                <li>Thanks for Kenrick95 for fixing <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678616" target="_blank">Bug 1678616</a> about:logins menu problem
                                </li>
                                <li>2021 Planning underway
                                </li>
                            </ul>
                            <h4>
                                PDFs &amp; Printing
                            </h4>
                            <ul>
                                <li>mstriemer put a Printing… message in the dialog and hid the popup dialog which showed progress, the cancel button on that dialog caused problems and it looked dated <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1679133" target="_blank">Bug 1679133</a>
                                </li>
                                <li>mstriemer hid the print setting that don’t relate to PDFs when a PDF is being printed <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1669725" target="_blank">Bug 1669725</a>
                                </li>
                                <li>mstriemer updated the form to be disabled when loading a printer’s settings. Sometimes loading a physical printer’s settings can take a few settings and changes could be lost in this time <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1676388" target="_blank">Bug 1676388</a>
                                </li>
                                <li>emalysz made a change to avoid updating the preview for some settings that can’t change the preview output <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1676199" target="_blank">Bug 1676199</a>
                                </li>
                                <li>sfoster added a paginator to the preview when it’s hovered to show current page, next/prev/first/last buttons <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1654684" target="_blank">Bug 1654684</a>
                                </li>
                                <li>emalysz added support for non-contiguous page ranges (ex: 1-3, 6, 7) <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=499640" target="_blank">Bug 499640</a>
                                </li>
                                <li>emalysz fixed an issue where the form could get disabled with custom margins interactions <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1674106" target="_blank">Bug 1674106</a>
                                </li>
                            </ul>
                            <h4>
                                Performance
                            </h4>
                            <ul>
                                <li>emalysz continues to make progress leading the charge migrating us from OS.File to IOUtils
                                    <ul>
                                        <li>Shout out to barret for landing necessary changes to IOUtils to support the migration!
                                        </li>
                                        <li>Currently investigating <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1679252" target="_blank">a bizarre ts_paint_webext regression</a> caused by one of these conversions
                                        </li>
                                    </ul>
                                </li>
                                <li>emalysz <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1664444" target="_blank">fixed a performance issue with the Screenshots feature</a>, and made it more compatible with Fission
                                </li>
                                <li>bigiri has <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1649610" target="_blank">a patch to move SharedDataMap.jsm off of OSFile</a>
                                </li>
                                <li>florian’s team has <a href="https://firefox-source-docs.mozilla.org/tools/profiler/markers-guide.html" target="_blank">landed some great documentation</a> for the new profiler marker API
                                </li>
                                <li>florian has some new visualization variations up for the BHR dashboard
                                    <ul>
                                        <li>
                                            <a href="http://queze.net/bhr/test/#showFrames=1" target="_blank">showFrames</a>
                                        </li>
                                        <li>
                                            <a href="http://queze.net/bhr/test/#showFrames=1&amp;onlyXulLeaf=1" target="_blank">onlyXulLeaf</a>
                                        </li>
                                        <li>
                                            <a href="http://queze.net/bhr/test/#showFrames=1&amp;onlyXulLeaf=1&amp;skipKnownBugs=1" target="_blank">skipKnownBugs</a>
                                        </li>
                                        <li>This BHR dashboard helped identify a hang caused by the password manager code, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1677710" target="_blank">which has been recently fixed</a>! Thanks, dimi!
                                        </li>
                                    </ul>
                                </li>
                                <li>Gijs <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1667237" target="_blank">made the Bookmarks Toolbar initialization occur later in the startup window</a>
                                </li>
                                <li>Gijs <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1681169" target="_blank">fixed some flicker</a> that occurred when launching the browser with the Bookmarks Toolbar enabled
                                </li>
                                <li>mconley fixed <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1673716" target="_blank">an AsyncShutdown hang caused by the about:home startup cache</a>
                                </li>
                                <li>mconley <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1651311" target="_blank">re-enabled TART</a>
                                </li>
                                <li>dthayer has <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1672789" target="_blank">some fixes</a> and <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678488" target="_blank">polish</a> for <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1680258" target="_blank">the pre-XUL skeleton UI</a>
                                </li>
                            </ul>
                            <h4>
                                Picture-in-Picture
                            </h4>
                            <ul>
                                <li>We’ve got the green light for another round of MSU students hacking on Picture-in-Picture next semester! mhowell and mtigley will be mentoring them.
                                </li>
                                <li>In progress:
                                    <ul>
                                        <li>
                                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1677080" target="_blank">Bug 1677080 – Fullscreen PiP window is affected by switching video source</a>
                                        </li>
                                        <li>
                                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1677107" target="_blank">Bug 1677107 – Add Telemetry for tracking multiple PiP support usage</a>
                                        </li>
                                        <li>
                                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1681796" target="_blank">Bug 1681796 – Prevent superfluous PictureInPictureParent actors from being associated with each tab</a>
                                        </li>
                                        <li>
                                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1680796" target="_blank">Bug 1680796 – Ensure that the tab’s Toolkit:PictureInPicture actor is destroyed before moving to next test</a>
                                        </li>
                                        <li>
                                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678390" target="_blank">Bug 1678390 – Prevent Picture-in-Picture windows from opening on top of one another</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <h4>
                                Search and Navigation
                            </h4>
                            <ul>
                                <li>Fixed regressions related to Input Method Editor, in particular loss of the last token (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1673669" target="_blank">Bug 1673669</a>) and race conditions causing the wrong search engine to be used or Search Mode to be lost (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1679697" target="_blank">Bug 1679697</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1678647" target="_blank">Bug 1678647</a>)
                                </li>
                                <li>Introduced a new advanced preference to keep the Address Bar results panel open during IME composition. This provides a better experience for keyboard layouts that don’t open a picker panel. In the future we hope to be able to auto-detect that situation, but in the meanwhile, you can flip <i>browser.urlbar.imeCompositionClosesPanel</i> to false and test the alternative behavior (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1673971" target="_blank">Bug 1673971</a>)
                                </li>
                                <li>URL canonization (<a href="about:blank" target="_blank">www.*.com</a>) now uses https by default, the protocol can be customized through the <i>browser.fixup.alternate.protocol</i> advanced pref (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1638215" target="_blank">Bug 1638215</a>)
                                </li>
                                <li>Work continued on the weather QuickSuggest experiment, but its release has been moved to January.
                                </li>
                                <li>Region.jsm now can use a Geolocation monitor to update without hitting the network (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1663501" target="_blank">Bug 1663501</a>)
                                </li>
                                <li>Fixed a bug where search engines were being re-added on startup after their removal, when using a language pack (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1675624" target="_blank">Bug 1675624</a>)
                                </li>
                            </ul>
                        </div>
                        
                    </article>
                </div></article>