<article><article>

<header>

<h2>
        <span>HTTP Error 418</span>
        <span>Fehlercode "Ich bin eine Teekanne" darf bleiben</span>
</h2>
<p>
Was als Aprilscherz begann, darf nach Meinung vieler Unterstützer nicht aus dem <a href="https://www.golem.de/specials/internet/" target="_blank">Internet</a> verschwinden: Der HTTP Statuscode 418 "I am a Teapot" bleibt - und könnte sogar zum <a href="https://www.golem.de/specials/ietf/" target="_blank">IETF</a>-Standard werden.
</p>





<figure>
<img src="https://www.golem.de/1708/129460-144318-i_rc.jpg" title="HTTP Error 418: Fehlercode &quot;Ich bin eine Teekanne&quot; darf bleiben" alt="Teekannen sind Programmierern offenbar wichtig!"/>
<figcaption>
<span>Teekannen sind Programmierern offenbar wichtig!</span>
<span>(Bild: <a href="https://upload.wikimedia.org/wikipedia/commons/a/a5/%28%28%28%D8%A7%D8%AA%D8%A7%D9%82%DA%A9_%D9%82%D9%88%D8%B1%DB%8C_%D9%BE%D8%A7%D8%B1%DA%A9_%D9%85%D9%84%D8%AA_%D8%B3%D9%84%D9%85%D8%A7%D8%B3%29%29%29_-_panoramio.jpg" rel="nofollow" target="_blank">auoob farabi</a>/<a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow" target="_blank">CC-BY-SA 3.0</a>)</span>
</figcaption>
</figure>
</header>





<div>



<p id="gpar1">Der im Jahr 1998 als Aprilscherz eingeführte HTTP-Stauscode 418 - <em>"Ich bin eine Teekanne"</em> wird vorerst nicht aus populären Projekten verschwinden. Der Entwurf für den Code wurde von Larry Masinter von der Internet Engineering Taskforce geschrieben, eine Initiative des australischen Programmierers Mark Nottingham zur Abschaffung wurde jetzt abgelehnt. Der Code gibt folgende Nachricht aus: <em>"418 Ich bin eine Teekanne. Jeder Versuch, mit mir Kaffee zu brauen, sollte mit dem Statuscode 418 'Ich bin eine Teekanne' beantwortet werden."</em></p>






<p id="gpar2">Ursprünglich als Scherz über <em>"viele schlechte HTTP-Extensions"</em> gedacht, entwickelte der Statuscode ein Eigenleben und wurde in mehreren Projekten implementiert, etwa in Googles Programmiersprache Go, in Node.js und Asp.Net. Nottingham hatte in mehreren Repositories <a href="https://github.com/golang/go/issues/21326" target="_blank">vorgeschlagen</a>, den Code zu entfernen, weil die Nummer möglicherweise später für andere, wichtigere Zwecke gebraucht werden könnte. <em>"Bitte zieht in Erwägung, 418 aus Go HTTP zu entfernen, weil er kein richtiger HTTP-Statuscode ist (nicht einmal nach der eigenen Definition). Ich weiß, dass es lustig ist und dass einige Menschen aus Spaß eigene Implementierungen entwickelt haben, aber das Kernprotokoll sollte nicht verschmutzt werden."</em></p>

<h3>418 muss bleiben</h3>

<p id="gpar3">Doch Nottinghams Vorschlag wurde von der Community nicht besonders herzlich aufgenommen, <a href="https://www.gizmodo.com.au/2017/08/aussie-programmers-attempt-to-remove-joke-im-a-teapot-web-error-ends-up-making-it-official-instead/" target="_blank">wie Gizmodo berichtet</a>. Schnell wurde unter dem Motto <em>"Wir sind die Teekannen"</em> die Webseite <a href="http://save418.com/" target="_blank">Save418.com</a> ins Leben gerufen, um die erhebliche Notwendigkeit des Codes zu begründen. Denn der Code 418 sei <em>"eine Erinnerung daran, dass die dem Computer zugrundeliegenden Prozesse noch immer von Menschen gemacht werden."</em> Es wäre daher sehr schade, <em>"418 gehen zu sehen."</em></p>


<p id="gpar4">Auch der Initiator des Löschantrages, Mark Nottingham, war von der Argumentation offenbar überzeugt. Denn Mittlerweile hat er <a href="https://tools.ietf.org/html/draft-nottingham-thanks-larry-00" target="_blank">bei der IETF einen Antrag eingereicht</a>, den Statuscode zu reservieren, anstatt ihn zu entfernen. Und so können Teekannen wohl auch in Zukunft ganz ohne Internet-of-Things-Technik ein wichtiger Teil des Internets bleiben.</p>




</div>









                </article></article>